body{
    background-color: white;
    font-size: 20px;
    width: 960px;
    margin: 50px auto;
}
header
{
    text-align: center;
    font-family: 'Kalam', cursive;
}
.onlineForm{
    width: 48%;
    float: left;
    margin: 1%;
}

#errors{
    color: white;
    font-family: 'Kalam', cursive;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-radius: 10px;

}
form, .formData{
    width: 380px;
    border: 3px solid white;
    box-shadow: 0 0 10px black;
    padding: 30px;
    margin: 50px auto;
    color: white;
    background-color: rgb(24, 157, 224);
    border-radius: 20px;
}
label{
    width: 170px;
    display: inline-block;
    font-size: 18px;
    color: white;
}
input:not([type="radio"]), select{
    font-size: 16px;
    font-family: 'Kalam', cursive;
    padding: 5px 10px;
}
input:not([type="radio"]){
    width: 170px;
    height: 30px;
    margin-bottom: 10px;
}
select{
    width: 190px;
    margin-top: 10px;
}
input[type="submit"]{
    width: 100%;
    font-size: 22px;
    background-color: orange;
    color: white;
    border: 0px;
    padding: 10px;
    height: 50px;
    box-shadow: 2px 2px 0px yellowgreen;
    border-radius: 2px;
}
input[type="submit"]:active{
    box-shadow: -4px -4px 0px blue;
}

.top_menu{
    background-color: orange;
    border: 3px solid black;
    color: white;
    border-radius: 20px;
}

.top_menu ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
}

.top_menu ul li{
    display: inline-block;
    width: 130px;
}

.top_menu ul li:hover{
    background-color: #0781b2;
}
.top_menu ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}

.allorderSection {
    text-align: left;
    margin-bottom: 20px;
  }
  .oderdetails {
    border-radius: 10px;
    box-shadow: #0781b2;
    border: #2c2c2c;
    margin: 5px;
  }
  .head h1
  {
    text-align: center;
   color: blue;
  }
  .allorder
  {
    background-color: beige;
    color: beige;
  }